@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gray-50 dark:bg-slate-900 text-slate-900 dark:text-slate-100;
  font-family: 'Inter', sans-serif;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  @apply px-5 py-3.5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}